<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header><h1>Mi Familia</h1></header>
        <nav>
            <a href="../index.html">Quien Soy</a>
            <a href="../templates/familia.html">Mi Familia</a>
            <a href="../templates/hobbies.html">Mis Hobbies</a>
        </nav>
        <section>
            <p>Esta es mi familia, somos muy unidos y nos gusta mucho reir</p>
            <img src="../assets/images/family.jpg" alt="">


        </section>
        <footer>
            <p>Pagina realizada por Juan Camilo Rojas Ospina. &copy; Todos Los derechos reservados </p>
        </footer>
        
    </main>
</html>
