<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Mis Hobbies</title>
</head>
<body>
    <main>
        <header><h1>mis hobbies</h1></header>
        <nav>
            <a href="/Henry-Maquetado/miPaginaWeb/index.html">Quien Soy</a>
            <a href="/Henry-Maquetado/miPaginaWeb/templates/familia.html">Mi Familia</a>
            <a href="/Henry-Maquetado/miPaginaWeb/templates/hobbies.html">Mis Hobbies</a>
        </nav>
        <section>
            <p>Mi hobbie es leer, aunque leo de todos los generos, mi genero favorito es la fantasia epica, siendo mi principal referente, Brandon Sanderson y su saga de libros "El archivo de las tormentas"</p>
            <img src="/Henry-Maquetado/miPaginaWeb/assets/images/images.jfif" alt="">.
            <img src="/Henry-Maquetado/miPaginaWeb/assets/images/libro.jpg" alt="">
        </section>
        <footer>
            <p>Pagina realizada por Juan Camilo Rojas Ospina. &copy; Todos Los derechos reservados </p>
        </footer>
        
    </main>
</html>