body {
  background: url(/Henry-Maquetado/miPaginaWeb/assets/images/yop.jpg)
}
header{
  background-color: #81e9e0;
}
nav-logo{
  background-color: aqua;
}
a{
  background-color: #81e9e0;
}
.img{
  height: 300px;
}
